<!-- ******PROMO****** -->
<section id="promo" class="promo section offset-header">
  <div class="container-fluid text-center">
    <div class="container-fluid">
      <div class="col-md-4 title">
        <h1 style="text-align:left">
          {{curTime.time.hours}}:{{curTime.time.min}}:{{curTime.time.sec}}
          <h3>{{curTime.time.meridiem}}</h3>
        </h1>
      </div>

      <div class="col-md-4 col-md-offset-4">
        <h4>{{weather.summary}}</h4>
        <h1><img src="{{weather.icon}}" style="width:160px">{{weather.apparentTemperature}} &#8457</h1>
        <center>
          <h4>{{weather.humidity}}% Humidity</h4>
          <h4>Wind speed {{weather.windSpeed}}</h4>
          <h4>Chance of Percipitation {{weather.precipProbability * 100}}%</h4>
          <h3>Sunrise/Sunset</h3>
          <h4>{{weather.sunData.sunriseTime}} AM / {{weather.sunData.sunsetTime}} PM</h4>
        </center>
      </div>

      <div>
        <h3 style="text-align:right;">{{curTime.day}}&nbsp;&nbsp;&nbsp;&nbsp;</h3>
        <h1 style="text-align:right;float:right;font-size: 120px;">&nbsp;&nbsp;{{curTime.dayNumber}}&nbsp;&nbsp;</h1><br>
        <h1 style="text-align:left;float:right;font-size: 60px;">&nbsp;&nbsp;{{curTime.month}}&nbsp;&nbsp;<br><br></h1>

        <br><br><br><br><br>
        <h3 style="text-align:right;float:right;">{{curTime.year}}</h3>
      </div>
    </div>
  </div><!--//container-->
</section><!--//promo-->
