<section id="musicPlayer" class="musicPlayer section offset-header">
	<div class="container text-center">
		<h1>Tasks</h1>
		<table class="tasks-table">
			<tr>
				<th style="color:white">Name</th>
				<th style="color:white" class="actions-col">Actions</th>
			</tr>
			<tr ng-repeat="task in tasks">
				<td style="color:white">{{task.name}}</i></td>
				<td class="actions-col">
					<i class="fa fa-edit" ng-click="edit(task._id, task.name)"  style="color:white"></i> &nbsp;
					<i class="fa fa-remove" ng-click="delete(task._id)"  style="color:white"></i>
				</td>
			</tr>
		</table>
		<p style="text-align:right">
			<button class="btn btn-primary" style="width:100px" ng-click="create()"><i class="fa fa-plus"> New Task</i></button>
		</p>

		<p style="color:red">{{errorMessage}}</p>
	</div>
</section>
